.fontnova{
  font: 20px Lato,sans-serif;
}
.fontnova p{
  color: #58595b;
}
#midias{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#email{
  font-size: 1px;
}

.about-section{
  width: 100%;
  background: #f1f1f1;
  padding: 40px 0;
}
.about-section-footer{
  width: 100%;
  background: #3f3e3e;
  padding: 40px 0;
}
.inner-width{
  max-width: 1600px;
  overflow: hidden;
  padding: 30px 20px;
  margin: auto;
}
.inner-width-footer{
  max-width: 1600px;
  overflow: hidden;
  padding: 30px 20px;
  margin: auto;
  color: #d3d3d3;
}
.about-section h1{
  text-align: center;
}
.about-section-footer h1{
  text-align: center;
}
.border{
  width: 100px;
  height: 3px;
  background: #201f1f;
  margin: 40px auto;
}

/* responsivo */
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}

/* deve ser aqui */
.about-section-col{
  flex: 50%;
}
.about{
  padding-right: 30px;
}
.skills{
  padding-left: 300px;
}
.progress img{
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.about p{
  text-align: justify;
  margin-bottom: 20px;
  font-size: 25px;
  /* color: #58595b; */
}
@media (max-width: 1120px){
  .about-section-col{
    flex: 100%;
    font-size: small;
  }
  .about{
    padding-right: 0px;
  }
  #email{
    font-size: 15px;
  }
  #midias{
    width: 50%%;
    flex-direction: column;
  }
}
/* .about a{
  display: inline-block;
  color: #e74c3c;
  text-decoration: none;
  border: 2px solid #e74c3c;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
} 
.about a:hover{
  color: #fff;
  background: #e74c3c;
} */